*{
    margin: 0;
    padding: 0;
    font-family: PT Sans;
}
.body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #a5b2fc;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(89, 113, 250); */
    font-family: 'Open Sans', sans-serif;
}
.logo{
    height: 60px;
    width: 70px;
    border-radius: 50px;
    margin-left: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.details{
    margin-left: 8%;
    margin-top: 8%;
}
.details h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
h1:hover{
    color: rgb(243, 1, 13);
}
.details p{
    color: #555;
    line-height: 22px;
}
.details a{
    background: #0a5efc;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 8px;
}
.cv img{
    width: 20px;
    height: 10%;
}
.cv:hover{
    background-color: rgb(23, 7, 253);
    transform: scale(1.2);
    transition: transform 0.8s;
}
.images{
    top: 70px;
    width: 35%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.me{
    height: 70%;
}
.shape{
    height: 80%;
}
.images img{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 2s, left 3s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .me{
    left: 45%;
    bottom: 40px;
}